<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myhotel.hotel.mapper.SysDeptMapper">
    <select id="findById" resultType="com.myhotel.hotel.pojo.SysDepts">
        select * from sys_depts where id=#{id}
    </select>

    <select id="doFindZTreeNodes" resultType="com.myhotel.common.vo.Node">
        select id,name,parentId from sys_depts
    </select>
</mapper>