<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myhotel.hotel.mapper.SysUserMapper">
    <resultMap id="sysUserMap" type="com.myhotel.hotel.pojo.SysUserDeptResult">
        <association property="sysDept"
                     column="deptId"
                     select="com.myhotel.hotel.mapper.SysDeptMapper.findById">

        </association>

    </resultMap>

    <select id="doFindPageObjects" resultMap="sysUserMap">
        select *
        from sys_users
        <include refid="queryWhereId"/>
        limit #{startIndex},#{pageSize}
        
    </select>

    <select id="getRowCount" resultType="int">
        select count(*) from sys_users;
        <include refid="queryWhereId"/>
    </select>

    <update id="validById">
        update sys_users
        set valid=#{valid},
             modifiedUser=#{modifiedUser},
             modifiedTime=now()
        where id=#{id}

    </update>

    <insert id="insertObject"
            parameterType="com.myhotel.hotel.pojo.SysUser"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into sys_users
        (user_id,user_name,password,deptId,email,mobile,salt,valid,createdTime,modifiedTime,createdUser,modifiedUser)
        values
        (#{userId},#{userName},#{password},#{deptId},#{email},#{mobile},#{salt},#{valid},
        now(),now(),#{createdUser},#{modifiedUser})

    </insert>

    <select id="doFindObjectById" resultType="com.myhotel.hotel.pojo.SysUserDeptResult" parameterType="int">
        select * from sys_users
        where id=#{id}
    </select>
    <sql id="queryWhereId">
        <where>
            <if test="username!=null and username!=''">
                user_name like concat("%",#{username},"%")
            </if>
        </where>
    </sql>
</mapper>